@use '../util/' as *;
html {
	font-size: 100%;
	font-family: var(--font-body);
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: rem(16) rem(32);
	background-color: hsl(240, 3%, 7%);
	color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	
}
#message {
	visibility: hidden;
	background-color: rgb(4, 100, 4);
	padding: rem(10);
	font-size: rem(32);
	margin-top: rem(-250);
	margin-left: rem(450);
	transform: rotate(90deg);
	border-radius: rem(5);
}

#sorry {
	visibility: hidden;
	background-color: rgb(150, 7, 7);
	padding: rem(10);
	font-size: rem(32);
	margin-top: rem(-200);
	margin-left: rem(-450);
	transform: rotate(90deg);
	border-radius: rem(5);

}